<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HW4_2.Properties.Settings.constructionConnectionString"
            connectionString="Data Source=140.118.105.207,14433;Initial Catalog=construction;User ID=SoftServer;Password=@Qwer1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>